body{

    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200vh;
}


.card{

    width: 400px;
    padding: 20px;
    border:none;
}



.account{

        font-weight: 500;
    font-size: 20px;
}

.contact{

        font-size: 13px;
}

.form-control{
   text-indent: 14px;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #d42b09;
    outline: 0;
    box-shadow: none;
}

.inputbox{

    margin-bottom: 10px;
    position: relative;
}

.inputbox i{

        position: absolute;
    left: 8px;
    top: 12px;
    color: #ff0000;
}


.form-check-label{

    font-size: 13px;
}

.form-check-input {
    width: 14px;
    height: 15px;
    margin-top: 5px;

    }

   .forgot {
    font-size: 14px;
    text-decoration: none;
    color: #ff0505;
}




    .form-check{

    cursor: pointer;
    }

    .btn-primary {
    color: rgb(255, 0, 0);
    background-color: #ffffff;
    border-color: #ff0000;
}